p {
    color: green;
    background-color: white;
    padding: 5px;
}

body {
    background-image: url("http://cdn.sqhk.co/connor/2016/10/EKhY5oa/IMG_2487.JPG");
    opacity: 0.75;
    background-size: cover;
}
div.main {
    margin-left:15%;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    opacity: 1.0;
    background-color: white;

}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 15%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
    background-image: url(white);
    background-size: contain;
    background-repeat: no-repeat;
    font-weight: bold;
}

li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li a.active {
    background-color: #724C9F;
    color: white;
}

li a:hover:not(.active) {
    background-color: #909291;
    color: white;
}
footer {
    position: absolute;
    bottom:0;
    width:84%;
    height:30px;
    opacity: 1;
    margin-left: 15%;
    background-color: black;
    color: white;
}
