<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/cheers/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
<html>
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'cheers/style.css' %}">
<title>Band Listing</title>
</head>
<body>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#b">Roster & Stats</a></li>
      <li><a href="#c">Game Schedule</a></li>
      <li><a href="#d">League Standings</a></li>
      <li><a class="active" href="#e">Fan Zone</a></li>
      <li><a href="#f">Podcasts & Playlists</a></li>
      <li><a href="#g">Settings</a></li>
    </ul>
<div class="main">
{% load static %}
<img src="{% static "cheers/sackingslogo.png" %}" alt="My image" width = "150px" height = "175px" class = "center">
<!-- <p> Hello World and aliens and cats and stuff</p> -->
<a href = "/main"> lol </a>
<table>
    <tr>
        <th>Name</th>
        <th>Big Cheers</th>
        <th>CheerTime (s)</th>
        <th>Noise level</th>
    </tr>
    {% for row in table %}
    <tr>
        <td>{{row.0}} </td>
        <td>{{row.1}} </td>
        <td> {{row.2}}</td>
        <td>{{row.3}}</td>
    </tr>
    {% endfor %}

</table>
<table id = "data">
    <tr>
        <th>Bob's Data</th>
        <th>Jason's Data</th>
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.0}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.1}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.2}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.3}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.4}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.5}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.6}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.7}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.8}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.9}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.10}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.11}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.12}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.13}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.14}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.15}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.16}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.17}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.18}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.19}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.20}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.21}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.22}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.23}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.24}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.25}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.26}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.27}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.28}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.29}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.30}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.31}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.32}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.33}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.34}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.35}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.36}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.37}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.38}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.39}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.40}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.41}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.42}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.43}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.44}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.45}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.46}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.47}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.48}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.49}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.50}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.51}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.52}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.53}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.54}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.55}}</td>
        {% endfor %}
    </tr>
    <tr>
        {% for col in data %}
            <td>{{col.56}}</td>
        {% endfor %}
    </tr>



</table>
</div>
</body>

</html>
