<!-- {% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="/cheers/{{ question.id }}/">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
<html>
{% load static %}
<head>
<link rel="stylesheet" type="text/css" href="{% static 'cheers/style.css' %}">
<title>Band Listing</title>
</head>
<body>
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#b">Roster & Stats</a></li>
      <li><a href="#c">Game Schedule</a></li>
      <li><a href="#d">League Standings</a></li>
      <li><a class="active" href="#e">Fan Zone</a></li>
      <li><a href="#f">Podcasts & Playlists</a></li>
      <li><a href="#g">Settings</a></li>
    </ul>
<div class="main">
{% load static %}
<img src="{% static "cheers/sackingslogo.png" %}" alt="My image" width = "150px" height = "175px" class = "center">
<!-- <p> Hello World and aliens and cats and stuff</p> -->
<a href = "/main"> lol </a>
<table>
    <tr>
        <th>Name</th>
        <th>Section</th>
        <th>Sound level (db)</th>
    </tr>
    {% for row in table %}
    <tr>
        <td>{{row.0}} </td>
        <td>{{row.1}} </td>
        <td> {{row.2}}</td>
    </tr>
    {% endfor %}

</table>
</div>
</body>
<footer>
nandddi
</footer>
</html>
